extends layout

block content
    header 
        div= title
        if user
            div
                form(action="/auth/logout",method="post")
                    input(type="submit",value="Log out")
        else 
            div
                form(action="/auth/login", method="get")
                    input(type="submit",value="Log in")
                form(action="/auth/signup", method="get")
                    input(type="submit",value="Sign up")
    main
        section
            each article in articles
                article(onclick=`location.href='/articles/${article.number}'`) 
                    img(src=article.img art=article.title)
                    header= article.title

